@import 'material-symbols';

@font-face{
    font-family: 'Mulish';
    src: url('~/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}

*{
    font-family: 'Mulish', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }

body{
    background-image: url('~/assets/background.svg');
    background-size: 24px;
}