@import 'material-symbols';

*{
    font-family: 'Mulish', sans-serif;
    color: #363E52;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }

  body{
    background-image: url('~/assets/background.svg');
    background-size: 24px;
}